.message
  .upper-info
    .upper-info__user
      = message.user.name
    .upper-info__date
      = format_posted_time(message.created_at)
  .message__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
