
%div.flash-box
  %div.notice グループを作成しました
%div.wrapper
  %div.chat-side
    %div.side-header
      %p.side-header__user-name civa
      %ul.user-menu
        %li.user-menu__edit-user
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.user-menu__new-group
          %a{:href => "/users/185/edit"}
            %i.fa.fa-cog
    %div.groups
      %a{:href => "/groups/895/messages"}
        %div.group
          %p.group__group-name cat
          %p.group__latest-message まだメッセージがありません
      %a{:href => "/groups/893/messages"}
        %div.group
          %p.group__group-name inu
          %p.group__latest-message まだメッセージがありません
%div.chat-main
  %div.main-header
    %div.current-group{"data-group_id" => "895"}
      %h2.current-group__name cat
      %ul.member-list
        Member：
        %li.member-list__member atsuki
        %li.member-list__member civa
    %a{:href => "/groups/895/edit"}
      %div.main-header__edit-btn Edit
  %div.messages
    %div.message{"data-message_id" => "2526"}
      %div.upper-info
        %p.upper-info__user civa
        %p.upper-info__date 2019/05/06(Mon) 07:23:41
      %p.message__text
      %img{:src => "/uploads/message/image/2526/1d101c678760c35f2a958c23d0e958a0.jpg"}/
  %div.form
    %form#new_message.new-message{"accept-charset" => "UTF-8", :action => "/groups/895/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "5XcCp8KgqVQEp4hr8vrrQ5ifcbxL2F4c4z003pGv1aOApFsOu4Hc5Cgp/D6kIFONgI3/APpq3xtV3HmW73g+Rg=="}/
      %div.input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.image-label{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
      %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/


