.chat-main{
  width: calc(100vw - 300px);
  position: relative;
  float: left;
  display: block;
  .main-header{
    background-color: $white-font;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: medium solid 1px #eeeeee;
    .current-group{
      color: #333333;
      font-size: 20px;
      margin-top: 35px;
      &__name{
        font-size: 100%;
        font-weight: normal;
      }
    }
    // .group-member{
    //   color: $message-gray;
    //   font-size: 12px;
    //   padding: 0 40px 0 40px;
    // }
    .member-list{
      display: flex;
      margin-top: 15px;
      font-size: 12px;
      color: $message-gray;
      &__member{
        display: flex;
      }
    }
    
    
    .edit-btn{
      color: $blue-button;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px;
      // & a{
      //   color: $blue-button;
      //   display: block;
      //   line-height: 40px;
      //   text-decoration: none;
      //   padding: 0 20px 0 20px;
      // }
    }
  }

  .messages{
    background-color: #fafafa;
    height: calc(100vh - 262px);
    padding: 46px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .upper-info{
        display: flex;
        margin-bottom: 10px;
        &__user{
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: $message-gray;
          font-size: 12px;
          margin-left: 10px;
        }
        &__text{
          color: $message-gray;
          font-size: 14px;
          margin-bottom: 10px;
      }
    }
  }
}
.form{
    background-color: #ddd;
    height: 50px;
    padding: 20px 40px;
    display: block;
  .new-message{
    display: flex;
  }
    .input-box{
      position: relative;
      width: 100%;
      display: block;
      // &__text{
      //   position: relative;
      //   display: inline-block;
      //   width: calc(100% - 115px);
      //   input.text-box{
      //     width: 100%;
      //     height: 50px;
      //     box-sizing: border-box;
        }
        .input-box__text{
          color: $message-gray;
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          border-style: none;
        }
        .image-label{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__input{
          display: none;
        }
      }
    // }
      &__button{
        background-color: $blue-button;
        color: $white-font;
        width: 100px;
        padding: 0 30px;
        margin-left: 15px;
        float: right;
        text-align: center;
        line-height: 50px;
        @include hover-opacity();
      }
    }
  }
// }