.side{
  background-color: #2f3e51;
  color: $white-font;
  width: 300px;
  float: left;
  &__header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    .user{
      padding: 35px 20px 40px 20px;
      &__edit{
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-left: 0.3rem;
        & a{
          color: $white-font;
      }
    }
      &__new-group{
        display: inline-block;
        margin-left: 0.3rem;
        & a{
          color: $white-font;
        }
      }
    }
  }
  .group{
      .groups{
        @include hover-opacity();
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        padding: 20px 20px 0;
        overflow: scroll;
      }
      &__group-name{
        font-size: 15px;
        color: $white-font;
      }
      &__latest-message{
        font-size: 11px;
        margin-top: 5px;
        color: $white-font;
      }
    }
  }
